header {
  background: red;
  float: left;
  width: 100%;
}

#sidebar {
  background: green;
  float: left;
  width: 30%;
}

#main {
  background: yellow;
  float: left;
  width: 70%;
}

footer {
  background: blue;
  float: left;
  width: 100%;
}
