ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header, li, div, footer {
  border: 1px solid black;
}

.flex {
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav li{
  width: 150px;
  height: 40px;
  margin: 10px;
}

#hamburger {
  display: none;
}

.line{
  height:7px;
  width:60%;
  border-radius:5px;
}

.featured {
  height: 400px;
  margin: 20px 0;
  border: 1px solid black;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 20%;
  height: 200px;
  margin: 20px 0;
}

footer {
  display: flex;
  justify-content: space-around;
}

footer > div {
  width: 30%;
  height: 200px;
  margin: 20px;
}

