#notification {
  background: #EEE;
  padding: 10px;
  border: 3px solid black;
}

.message {
  color: #333;
  background-color: #FFF;
  padding: 15px;
  border: 2px solid #CCB;
  margin: 10px 0;
}

.error {
  color: #E00;
  font-weight: bold;
}

.success {
  color: #00bd17;
}

#footer {
  margin-top: 20px;
  padding: 15px 30px;
  border-top: 2px solid lightgrey;
}

