.placeholder {

	background: grey;
	height: 500px;
	margin: 20px;
}

#left {
	width: 20%;
	height: 500px;
	background: green;
	float: left;
}

#main {
	width: 60%;
	height: 500px;
	background: yellow;
	float: left;
}	

#right {
	width: 20%;
	height: 500px;
	background: blue;
	float: right;
}

header {
	background: black;
	width: 100%;
	height: 200px;
	float: left;
}

footer {
	background: red;
	width: 100%;
	height: 200px;
	float: left;
}